body {
    background: linear-gradient(to bottom right, #f0f0f0, #cccccc);
    color: black;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#board {
    border: 5px solid #000;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./assets/images/bg.png");
    background-size: cover;
}

#main-menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 360px;
    height: 800px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-menu #logo-image {
    width: 80%;
    margin-bottom: 100px;
    cursor: pointer;
}

#main-menu #start-button {
    width: 40%; 
    cursor: pointer;
}

#gameover-menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 360px;
    height: 640px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

#gameover-image {
    width: 50%;
    margin-bottom: 10px;
}

#game-over-menu p {
    font-size: 36px;
    color: white;
    margin-bottom: 40px;
}

#game-over-menu #restart-button {
    width: 40%; 
    cursor: pointer;
}

#message-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 200px;
    pointer-events: none;
    display: none;  /* Hidden by default */
}

footer {
    margin-top: auto;
    padding: 10px 20px;
    color: black; 
    text-align: center;
    font-size: 14px; 
  }
  
  footer p::before {
    content: "©"; 
    margin-right: 5px; 
  }
